<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/CSS/Dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">

</head>

<body>
  <div class="container">
    <!-- Bottom Layer -->
    <div class="bottom-layer"></div>

    <!-- Top Curved Layer -->
    <div class="top-curve"></div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#help">Help</a></li>
      </ul>
      <a class="s1" href="./Signin">Signin&nbsp;<i id="arrow" class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </nav>

    <!-- Content -->
    <div class="content">
      <h1>Welcome to Smart Scheduler</h1>
      <p>Easy to Create | Works in MultiClasses </p>
    </div>
    <div class="main">
      <a href="/Signup"> <button class="button">Get Started&nbsp;<i class="fa fa-arrow-right"
            aria-hidden="true"></i></button></a>
      <p>Organise Time. Optimise Learning.</p>
    </div>
  </div>
</body>

</html>