<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Signup</title>
   <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
   body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #71e0e6, #9b59b6);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(https://c1.wallpaperflare.com/preview/396/966/331/pencils-clips-colour-pencils-foam-rubber.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 
}




.container {
   background-color: #ffffff;
   padding: 25px;
   border-radius: 10px;
   border: solid 5px rgb(30, 158, 243);;
   width: 330px;
   text-align: center;
}












.input-group {
   margin-bottom: 15px;
   text-align: left;
}




.container label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: #333;
   margin: 10px;
}




.container input {
   width: 90%;
   padding: 10px;
   border: 2px solid #179bcf6e;
   border-radius: 5px;
   font-size: 16px;
   margin: 10px;
}




button {
   width: 97%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: #3498db;
   color: white;
   font-size: 16px;
   cursor: pointer;
   margin: 10px;
}




button:hover {
   background-color: #00796B;
   }
a{
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
.s1{
   display: flex;
   align-items: center;
   a{
       text-decoration: none;
       color: #3498DB;
   }
}
.s1 a:hover{
   color: #00796B;
}
</style>
<body>
   <form action="/Signup" method="post">
       <div class="container">
           <div class="input-group">
           <label for="name">First Name</label>
           <input type="text" name="firstname" placeholder="Enter your name" required>
           <label for="name">Last Name</label>
           <input type="text" name="lastname" placeholder="Enter your name" required>
           <label for="name">Username</label>
           <input type="text" name="username" placeholder="Enter your username" required>
           <label for="password">Password</label>
           <input type="password" name="password" placeholder="Enter your password" required>
           <button>Submit</button>
           <div class="s1">
           <label >Already have account?&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></label><label><a href="./Signin">Signin</a></label>
       </div>
       </div>
         
     
       </div>
   </form>




</body>
</html>





