<html>
   <head>
       <title>Signin</title>
       <link rel="icon" href="/images/calendar2.png" type="image/png" size="16x16">
   </head>
   <style>
      body {
   margin: 0;
   font-family: Arial, sans-serif;
   /* background: linear-gradient(135deg, #71e0e6, #9b59b6); */
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(https://c1.wallpaperflare.com/preview/396/966/331/pencils-clips-colour-pencils-foam-rubber.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}




.container {
   background-color: aliceblue;
   padding: 30px;
   border-radius: 10px;
   border: solid 5px rgb(30, 158, 243);
   width: 330px;
}


.input-group {
   margin-bottom: 15px;
   text-align: left;
}




.container label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: #333;
   margin: 10px;
}




.container input {
   width: 90%;
   padding: 10px;
   /* border: 1px solid rgb(23, 235, 104); */
   border: 1px solid #179bcf6e;
   border-radius: 5px;
   font-size: 16px;
   margin: 10px;
}




button {
   width: 90%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: #3498db;
   color: white;
   font-size: 16px;
   cursor: pointer;
   margin: 10px;
}




button:hover {
   background-color: #00796B;
   }
a{
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}
</style>








<body>
 
       <form action="/Signin" method="post">
           <div class="container">
               <div class="input-group">
               <label for="name">Username</label>
               <input type="text" name="username" placeholder="Enter your username" required>
               <label for="password">Password</label>
               <input type="password" name="password" placeholder="Enter your password" required>
               <button>Submit</button>
           <!-- </div>
               <label for="">Don't have an account</label>
               <a href="/signup">Signup</a>
         
           </div> -->
       </form>
 
</body>
</html>




     







